@page "/"

@using PDV.Shared.Components

<PageTitle>Index</PageTitle>

<h1>Distribuidora ACME</h1>

Bem vindo ao Ponto de Vendas.

<SurveyPrompt Title="Como o Blazor está funcionando?" />

<Counter IncrementAmount = "3"/>

<FetchData/>

<Info/>

