@page "/info"

<PageTitle>Informações do Estoque</PageTitle>

<div class="text-center">
    <h1>Distribuidora Império das Bebidas</h1>
</div>

<h1>Informações do Estoque</h1>

<p role="status">@infoTest</p>


@code {
    private string infoTest = "Tabela, totalização e outros detalhes";

}