@page "/info"

<PageTitle>Informações do Estoque</PageTitle>

<h1>Informações do Estoque</h1>

<p role="status">@infoTest</p>


@code {
    private string infoTest = "Tabela, totalização e outros detalhes";

}