@page "/info"

<PageTitle>Info</PageTitle>

<h1>Info</h1>

<p role="status">@infoTest</p>


@code {
    private string infoTest = "Testando componentes criados no folder Share para poder funcionar";

}