@page "/venda"
@page "/venda/{mesaSelec}"


<PageTitle>Venda</PageTitle>

<div class="text-center">
    <h1>Distribuidora Império das Bebidas</h1>
</div>

<h1>Pedido</h1>

<h2>Mesa: @mesaSelec</h2>

@code {
    [Parameter]
    public string mesaSelec { get; set; } = "Escolha a mesa";
}
